:root{
--light-color-bg: #fff9f4cd;
--dark-color-bg: #18131372;
--light-color-text: #FFF9F4;
--dark-color-text: #181313;
}
body {
    margin: 0;
    background: url(images/background1.png) no-repeat top center fixed;
    background-size: cover;
    align-items: top;
}
a{
    text-decoration: underline;
    color: #23414c;
    font-weight: 400;
}

.navbar__container{
    background: var(--light-color-bg);
    flex-wrap: wrap;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style: none;
    padding-left: 20px;
    position: sticky;
    padding: 1%;
}
.navbar__container .active{
    font-weight: 500;
}
.navbar__logo{
    margin-right: auto;
    height: 30px;
    width: 30px;
}
.navbar__item{
    height: 80px;
    justify-content: center;
}
.navbar__links{
    color: var(--dark-color-text);
    text-decoration: none;
    font-family: "Unbounded", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    font-style: normal;
    padding: 0 1.2rem;
}
.navbar__links__active{
    color: var(--dark-color-text);
    text-decoration: none;
    font-family: "Unbounded", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    font-style: normal;
    padding: 0 1.2rem;
}


.hero_container{
    margin: 5%;
    margin-bottom: 0%;
    margin-top: 3%;
}

h1{
    color: var(--dark-color-text);
    margin-left: 0;
    font-family: "Unbounded", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;

}
#main_header{
    color: var(--light-color-text);
  margin-top: 10rem;
  font-size: 4rem;
}

h2{
    color: var(--light-color-text);
  font-family: "Unbounded", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  font-style: normal;
  margin-top: 2%;
  text-decoration: none;
}

.button-1 {
    background-color: var(--dark-color-bg);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFF9F4;
    cursor: pointer;
    display: inline-block;
    font-family: "Unbounded", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    height: 40px;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 10px 16px;
    text-wrap: nowrap;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 2%;
  }
  
  .button-1:hover,
  .button-1:focus {
    background-color: #b3b3b3c4;
    transition: 0.3s ease;
  }

.description__container{
    background: var(--light-color-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: "Unbounded", sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    font-style: normal;
    padding: 3%;
}

.tosee__container{    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: top;
    align-items: top;
    gap: 20px;
    margin: 5%;
    margin-top: 3%;
    margin-bottom: 0%;
    font-family: "Unbounded", sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    font-style: normal;
}

h3,h4{
    font-weight: 500;
}
.tosee__item{
    background: var(--light-color-bg);
    display: flex;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    max-width: 300px;
}
.tosee__img{
    height: 200px;
    
    object-fit: fit;
    overflow: hidden;
}
.tosee__text{
    padding: 3%;
    margin-top: 0%;
}
.tosee__header{
    font-weight: 500;
    margin-bottom: 0%;
}


footer {
    height: 100px;
    position: fixed;
    bottom: 0;
  }

  .passport {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    height: 700px;
    width: 500px;
    background-image: url(images/passport_template.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.block1 {
    margin-left: 100px;
    margin-top: 75px;
    font: bold 90% serif;
}

.block2 {
    margin-left: 300px;
    margin-top: 43px;
}

.block3 {
    margin-left: 100px;
    margin-top: -15px;
}

.block4 {
    margin-left: 220px;
    margin-top: 220px;
    font: bold 100% serif;
}

.block5 {
    margin-left: 225px;
    margin-top: 35px;
}

.block6 {
    margin-left: 210px;
    margin-top: 3px;
}

.block7 {
    margin-left: 200px;
    margin-top: 15px;
}

.block8 {
    margin-left: 300px;
    margin-top: -20px;
}

.block9 {
    margin-left: 220px;
    margin-top: 5px;
}

.photo {
    margin-left: 30px;
    margin-top: -110px;
}

table{
    background-size: cover;
}

input,TEXTAREA,select{
    background-color: #faf7f4;
    border: #606060;
    border-radius: 3px;
}
TEXTAREA, select{
    font-family: "Unbounded", sans-serif;
    font-size: 0.7rem;
    font-weight: 300;
    font-style: normal;
}
TEXTAREA{
    color: #606060;
    padding-left: 1%;
}
#form__container{
    max-width: 700px;
    
}